table, th {
    border: 1px solid black;
    border-collapse: collapse;
}

#monthlyTotal {
    text-align: right;
    position: absolute;
    bottom: 10px;
    width: 50%;
   
}
.Employees-table {
    align: center;
    
}