body {
    background-color: aquamarine;
}
h2 {
    color: rgb(94, 5, 14);
    text-decoration-line: underline;
}

#monthlyTotal {
    text-align: right;
    position: absolute;
    bottom: 10px;
    width: 50%;
   
}
.Employees-table {
    border: 1px solid black;
    border-collapse: collapse;
}
.employeeTableCell{
    
}

#firstNameCell {
    width: 160px;
}
#lastNameCell{
    width: 160px;
}
#IDCell{
    width: 80px;
}
#titleCell{
    width: 160px;
}
#annualSalaryCell{
    width: 160px;
}
#deleteButtonCell {
    width: 160px;
}